jupyter
matplotlib
numpy
pandas
scipy
scikit-learn
xgboost
transformers
tensorflow
tensorflow-serving-api
tensorboard
tensorboard-plugin-profile
tensorflow-datasets
tensorflow-hub
# tensorflow-probability
# tfx
# tensorflow-addons
atari_py
tf-agents
imageio
Pillow
scikit-image
graphviz
pydot
opencv-python
pyglet
joblib
requests
nbdime
numexpr
nltk
urlextract
spacy
ftfy
tqdm
ipywidgets